{% extends 'base.html' %}
{% block content %}
<div class="review-form">
    <h2>
        Add a review:
    </h2>
    <form method="GET">
        <p>
            <input type="text" placeholder="Enter your name" name="name">
        </p>
        <p>
            <input type="datetime-local" placeholder="DD/MM/YYYY" name="date">
        </p>
        <p>
            <input type="text" placeholder="Enter your email" name="email">
        </p>
        <p>
            <textarea placeholder="Write your review" cols="50" rows="5" name="review">
            </textarea>
        </p>
        <p>
            <input type="submit" value="Publish">
        </p>
    </form>
</div>
<div class="reviews">
    <h2> 
        All reviews:
    </h2>
    <p>
        <em>
            Written by: {{name_1}}
        </em>
    </p>
    <p>
        Date and Time: {{date_time_1}}
    </p>
    <p>
        Review: {{review_1}}
    </p>
    <p>
        ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    </p>
    <p>
        <em>
            Written by: John
        </em>
    </p>
    <p>
        Date and Time: 05-01-2022T13:45
    </p>
    <p>
        Review: I didn't like the book because it was too long
    </p>
    <p>
        ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    </p>
    <p>
        <em>
            Written by: Alexey
        </em>
    </p>
    <p>
        Date and Time: 10-11-2021T18:37
    </p>
    <p>
        Review: The book was perfect I enjoyed reading it!
    </p>
    <p>
        ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    </p>
    <hr>
</div>
{% endblock %}