{% extends 'base.html' %}
{% block content %}
<div class="review-form">
    <h2>
        Add a review:
    </h2>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        
            <p>Date and Time: </p><input type="datetime-local" placeholder="DD/MM/YYYY" name="date">
        
        <p>
            <input type="submit" value="Publish">
        </p>
    </form>
</div>
<div class="reviews">
    <h2> 
        All reviews:
    </h2>
    <p>
        <em>
            Written by: {{date.name}}
        </em>
    </p>
    <p>
        Date and Time: {{date.date_time}}
    </p>
    <p>
        Review: {{date.review}}
    </p>
    <hr>
    <p>
        <em>
            Written by: John
        </em>
    </p>
    <p>
        Date and Time: 05-01-2022T13:45
    </p>
    <p>
        Review: I didn't like the book because it was too long
    </p>
    <hr>
    <p>
        <em>
            Written by: Alexey
        </em>
    </p>
    <p>
        Date and Time: 10-11-2021T18:37
    </p>
    <p>
        Review: The book was perfect I enjoyed reading it!
    </p>
    <hr>
</div>
{% endblock %}