{% extends 'base.html' %}
{% block content %}
<div class="review-form">
    <h2>
        Add a review:
    </h2>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <input type="submit" value="Publish">
        </p>
    </form>
</div>
<div class="reviews">
    <h2> 
        All reviews:
    </h2>
    
    {% for review in reversed(reviews) %}
    
    <p>
        Written by:
        <em>
            {{review.name}}
        </em>
    </p>
    <p>
        Review: {{review.review}}
    </p>
    <hr>{% endfor %}
    {% endblock %}
</div>
<div class="fake_reviews">
    <p>
        <em>
            Written by: John
        </em>
    </p>
    <p>
        Date and Time: 05-01-2022T13:45
    </p>
    <p>
        Review: I didn't like the book because it was too long
    </p>
    <p>
        Rating: 4
    </p>
    <hr>
    <p>
        <em>
            Written by: Alexey
        </em>
    </p>
    <p>
        Date and Time: 10-11-2021T18:37
    </p>
    <p>
        Review: The book was perfect I enjoyed reading it!
    </p>
    <p>
        Rating: 10
    </p>
    <hr>
</div>
{% endblock %}