/*change website bg and the font of the text*/
body {
    background-color: yellow;
}

title {
    font-size: 25px;
}

hr {
    width: 70%;
    height: 5px;
    color:red;
    max-width: 70%;
    margin: 0px;
    border: 1px solid black;
}